/concejales2024_definitivo.xlsx
/concejales2024_f_preeliminar.xlsx
/concejales_servel_comunas_nacional.xlsx
/construye_datos.py
/cores2024_definitivo.xlsx
/cores2024_f_preeliminar.xlsx
/cores_servel_comunas_nacional.xlsx
/pactos.xlsx
/participacion_servel_comunas.xlsx
/README.txt
/ScrappyServel comuna_Nacional_Participacion.py
/Senado_2017.csv
/Senado_2021.csv